@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.cabecalho {
    padding: 2rem;
}

.caixa {
    margin: 0 auto;
    width: 940px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__logo img{
    width: 16rem;
}

.cabecalho__lista {
    display: flex;
    column-gap: 1.5rem;
}

.cabecalho__item {
    text-transform: uppercase;
}

.cabecalho__item a {
    font-size: 2.5rem;
    text-decoration: none;
    color: #686868;
    font-weight: 700;
}

.cabecalho__item a:hover {
    color: #1C75BE;
}

@media screen and (max-width: 768px) {
    .cabecalho {
        padding: 2rem 0;
    }

    .caixa {
        width: 100%;
        grid-template-columns: auto;
        margin: 0 auto;
        justify-content: center;
    }

    .cabecalho__logo {
       justify-self: center;
    }

    .cabecalho__lista {
        justify-content: center;
    }

    .cabecalho__item a {
        font-size: 2rem;
    }
}

.beneficios {
    padding: 5rem 0;
    background-image: url(../imagens/fundo.jpg);
    background-position: center center;
    background-size: cover;
}

.caixa__beneficios {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
}

.orcamento {
    display: block;
}

.orcamento__titulo{
    padding: 2.5rem;
    color: #FFFFFF;
    font-size: 2.2rem;
    font-weight: bold;
}

.orcamento__paragrafo {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: bold;
}

.orcamento__whatsapp {
    margin: 3rem;
    transition: 1s transform;
}

.orcamento__whatsapp a{
    background: rgb(4, 219, 4);
    padding: 1.3rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 1rem;
    font-size: 1.6rem;
    transition: 700ms all;
}

.orcamento__whatsapp a:hover{
    background: rgb(7, 155, 7);
}

.orcamento__whatsapp img {
    width: 2rem;
    padding-right: 1rem;
    position: relative;
    top: 0.45rem;
}

.informacoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 3vw;
    justify-content: center;
}

.cartao {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    height: 250px;
    border: 0.3rem solid #000000;
    border-radius: 1rem;
    transition: 700ms;
    box-shadow: 10px 10px 10px #000000;
    box-sizing: border-box;
}

.cartao:hover {
    transform: scale(1.05);
    border-color: #1C75BE;
}

.cartao__imagem {
    align-self: center;
    width: 80px;
    height: 80px;
}

.cartao__titulo{
    padding-top: 1rem;
    padding: 0.4rem;
    font-weight: bold;
    font-size: 1.6rem;
}

.cartao__paragrafo {
    padding-top: 1rem;
    font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
    .beneficios {
        padding: 3rem;
    }

    .informacoes {
        grid-template-columns: 250px;
        gap: 40px;
    }
}

.servicos {
    padding: 5rem 0 1.5rem;
}

.caixa__servicos {
    grid-template-columns: 1fr;
}

.servicos__titulo {
    grid-column: 1 / span 3;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.caixa__cartao {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 2rem;
    column-gap: 3rem;
}

.cartao__servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.cartao__servicos h3 {
    justify-self: center;
    font-weight: bold;
    font-size: 1.6rem;
}

.cartao__servicos img {
    justify-self: center;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.cartao__servicos p {
    text-align: justify;
    font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
    .caixa__cartao {
        grid-template-columns: 70%;
        grid-template-rows: auto;
        gap: 30px;
        justify-content: center;
    }
}

.clientes {
    margin: 3rem 0;
}

.clientes__titulo {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.clientes__lista {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}

.clientes__logo {
    width: 10rem;
    height: 10rem;
    border: 2px solid #000000;
    transition: 1s;
}

.clientes__logo:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .clientes {
        display: none;
    }
}

.rodape {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 30px;
}

.mapa {
    width: 300px;
    height: 300px;
}

.conteudo {
    display: grid;
    row-gap: 30px;
    grid-template-columns: 300px;
}

.conteudo__info {
    display: grid;
    gap: 0.5rem;
}

.conteudo__titulo {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 5px;
}

.conteudo__paragrafo {
    font-size: 1.3rem;
    text-align: justify;
}

@media screen and (max-width: 768px) {
   .rodape {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 20px;
   }
}